body {
    font-family: 'Almarai', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    background-color: #fff !important;
}

* {
    outline: none;
    box-shadow: none !important;
}
.header{
    width: 100%;
}
.header-margin {
   padding-top: 20px; 
   padding-bottom: 20px;
}
.serach-header{
    position: relative;
}
.filter-img{
    position: absolute;
    right: 20px;
    top: 14px;
    width: 22px;
}
.top-head-icon{
    position: relative;
}
.useraccount {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}
.number{
    background: #FF7979;
    border: 1px solid rgba(255, 121, 121, 0.5);
    box-shadow: 2px 2px 10px rgba(255, 144, 144, 0.2) !important;
    border-radius: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 4px 8px;
    position: absolute;
    top: -18px;
    right: -22px;
}
.number-blue{
    background: rgba(0, 133, 255, 0.7);
    border: 1px solid rgba(0, 152, 237, 0.5);
    box-shadow: 2px 2px 10px rgba(99, 199, 255, 0.2) !important;
    border-radius: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 4px 8px;
    position: absolute;
    top: -18px;
    right: -22px;
}
.w-35{
    width: 35px;
}
.search-filds{
    background: #FFFFFF;
    border: 1px solid rgba(190, 190, 190, 0.5);
    box-shadow: 5px 5px 20px rgba(181, 181, 181, 0.2) !important;
    border-radius: 30px;
    padding: 10px 24px;
    width: 100%;
}
.ml-auto {
    margin-left: auto;
}

.useraccount img {
    margin-left: 12px;
}

.breadcrumbs-link {}

.breadcrumbs-link ul{
    list-style: none;
    font-family: 'Inter', sans-serif;
}
.breadcrumbs-link ul li{
    display: inline-block;
    color: #60666C;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
.breadcrumbs-link ul li a{
    color: #60666C;    
    text-decoration: none;
}
.breadcrumbs-link ul li a:hover{
    color: #000; 
}
.breadcrumbs-link ul li a.active-bread{
    color: #000; 
}
.breadcrumbs-lines{
    margin-left: 2px;
    margin-right: 2px;
}

.gradient-box{
    width: 100%;
    background: linear-gradient(90.06deg, #181716 0%, #ED4E08 99.97%);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-align: center;
    padding: 12px;
}
.invite-btn {
    background: #FFFFFF;
    border-radius: 20px;
    font-weight: 400;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #000000;
    padding: 6px 20px;
    text-decoration: none;
    margin-left: 10px;
}
.invite-btn:hover {
    background-color: #000;
    color: #FFFFFF;
}
.topmenu{
    list-style: none;
}
.topmenu li a{color: #000;}

.titlepage{
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    color: #474747;
    margin-top: 16px;
    margin-bottom: 30px;
}
.titlepage span{
    color: #878787;
    font-weight: 400;
}
.filter-box{
    margin-top: 26px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.sort-select{
    border: 1px solid #000000;
    border-radius: 62px;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-transform: capitalize;
    color: #000000;
    padding: 10px 15px;
}
.filter-left span{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #000000;
    margin-right: 15px;
}
.filter-left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.filter-left ul{
    display: flex;
    gap: 10px;
    list-style: none;
    margin-bottom: 0px;
    padding-left: 0px;
}
.filter-left ul li div{
    background: #FFFFFF;
    border: 1px solid rgba(190, 190, 190, 0.5);
    box-shadow: 5px 5px 20px rgba(181, 181, 181, 0.2) !important;
    border-radius: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #474747;
    padding: 10px 30px;
    text-decoration: none;
}
.filter-left ul li div.active, .filter-left ul li div:hover{
    border-color: #000;
    color: #000;
}
.product-box{
    width: 100%;
}
.product{
    margin-bottom: 30px;
    background: #FFFFFF;
    box-shadow: 5px 5px 20px rgba(133, 133, 133, 0.2) !important;
    border-radius: 30px;
    padding: 25px;
    display: flex;
    height: 300px;
}
.product-img{
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.product-img img{
    max-width: 100%;
}
.product-bottom{
    width: 100%;
    padding: 0px 0px 0px 20px; 
    display: flex;
    flex-direction: column; 
}
.prize-box{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #000000;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}
.orange-color{
    color: #FF6C6C !important;
}
.product-bottom h3{
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #000;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
}
.product-bottom p{
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #878787;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    text-align: left;
}

.label-tags{
    background: rgba(255, 147, 69, 0.8);
    border: 1px solid rgba(255, 148, 70, 0.5);
    box-shadow: 5px 5px 20px rgba(255, 210, 178, 0.5) !important;
    border-radius: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 5px 15px;
    width: fit-content;
    margin-bottom: 30px;
}
.available {
    background: rgba(0, 167, 17, 0.5);
    border: 1px solid rgba(0, 202, 20, 0.5);
    box-shadow: 5px 5px 20px rgba(196, 255, 202, 0.5) !important;
}
.w-20{
    width: 20px;
}
.prize-number{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #474747;
}

.table-box-cart{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
}
.table-box-cart table{
    width: 100%;
}
.table-box-cart td{
    border-bottom: 1px solid #E6E6EB;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    color: #000000;
    padding: 15px 30px !important;
}
.table-box-cart td:first-child{
    width: 600px;
}
.table-box-cart td:nth-child(2){
    color: #82828B;
    font-weight: 500;
}
.checkout-btn{
    padding: 8px 40px;
    background: #7FD287;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    text-decoration: none;
}
.checkout-btn:hover{
    color: #FFFFFF;
    background: #2a5f2f;
}
.table-box-product-cart{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.cart-head{
    max-width: 800px;
}
.cart-list{
    background: #FFFFFF;
    box-shadow: 5px 5px 20px rgba(133, 133, 133, 0.2) !important;
    border-radius: 30px;
    margin-bottom: 30px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
}
.cart-img{
    width: 300px;
    display: flex;
    gap: 20px;
    align-items: center;
}
.img-cart{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
}
.img-cart img{
    max-width: 100%;
}
.cart-text{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.cart-text h3{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #474747;
}
.cart-text p{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #474747;
}
.close-cart{

}
.cart-number{
    display: flex;
    align-items: center;
    gap: 15px;
}
.box-plus{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.box-plus .label-tags{
    margin-bottom: 0px;
}
.prize-cart{
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-align: right;
    color: #82828B;
    align-items: center;
    justify-content: center;
    display: flex;
}
.message {
    position: fixed;
    width: fit-content;
    top: 30px;
    right: 51px;
    min-width: 300px;
}
@media (max-width: 992px) {
  .filter-box{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .filter-left ul{
    flex-wrap: wrap;
}
.filter-left ul li{
    margin-bottom: 10px;
}
}
@media (max-width: 767px) {
    
}